body
{
    background-color: #1b1b1b;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box-msg
{
    color: #ffffff;
    background-color: #272727;
    border-radius: 1vh;
    padding: 4vh;
    margin: 5vh auto;
    height: 0.1vh;
    width: 30vh;
}
.buttons
{
    
    margin-top: 60vh;
}